NODE_ENV=development # Define el entorno de ejecución de la aplicación (desarrollo, producción, etc.)
WEBSITE_PORT=3000 # Define el puerto en el que la aplicación web escuchará las solicitudes
WEB_SITE_EXTERNAL_PORT=3306 # Define el puerto externo para la conexión a la base de datos del sitio web

AUTH_DATABASE_HOST=127.0.0.1 # Host de la base de datos de autenticación
AUTH_DATABASE_PORT=3306 # Puerto de la base de datos de autenticación
AUTH_DATABASE_NAME=acore_auth # Nombre de la base de datos de autenticación
AUTH_DATABASE_USERNAME=root # Nombre de usuario para la base de datos de autenticación
AUTH_DATABASE_PASSWORD=root # Contraseña para la base de datos de autenticación

WORLD_DATABASE_HOST=127.0.0.1 # Host de la base de datos del mundo
WORLD_DATABASE_PORT=3306 # Puerto de la base de datos del mundo
WORLD_DATABASE_NAME=acore_world # Nombre de la base de datos del mundo
WORLD_DATABASE_USERNAME=root # Nombre de usuario para la base de datos del mundo
WORLD_DATABASE_PASSWORD=root # Contraseña para la base de datos del mundo

CHARACTERS_DATABASE_HOST=127.0.0.1 # Host de la base de datos de personajes
CHARACTERS_DATABASE_PORT=3306 # Puerto de la base de datos de personajes
CHARACTERS_DATABASE_NAME=acore_characters # Nombre de la base de datos de personajes
CHARACTERS_DATABASE_USERNAME=root # Nombre de usuario para la base de datos de personajes
CHARACTERS_DATABASE_PASSWORD=root # Contraseña para la base de datos de personajes

WEB_SITE_DATABASE_HOST=127.0.0.1 # Host de la base de datos del sitio web
WEB_SITE_DATABASE_PORT=3306 # Puerto de la base de datos del sitio web
WEB_SITE_DATABASE_NAME=website # Nombre de la base de datos del sitio web
WEB_SITE_DATABASE_USERNAME=root # Nombre de usuario para la base de datos del sitio web
WEB_SITE_DATABASE_PASSWORD=root # Contraseña para la base de datos del sitio web

SOAP_HOST_NAME=127.0.0.1 # Host del servidor SOAP
SOAP_PORT=7878 # Puerto del servidor SOAP
SOAP_URI=urn:AC # URI del servicio SOAP
SOAP_USERNAME=AZEROTHJS # Nombre de usuario para la autenticación SOAP
SOAP_PASSWORD=AZER0THJS!@ # Contraseña para la autenticación SOAP

JWT_SECRET_KEY=secret # Clave secreta para la firma de tokens JWT
JWT_EXPIRES_IN=30d # Tiempo de expiración de los tokens JWT
JWT_COOKIE_EXPIRES_IN=30 # Tiempo de expiración de las cookies JWT

MAIL_HOST=smtp.mailtrap.io # Host del servidor de correo
MAIL_PORT=25 # Puerto del servidor de correo
MAIL_USERNAME=null # Nombre de usuario para la autenticación del servidor de correo
MAIL_PASSWORD=null # Contraseña para la autenticación del servidor de correo
MAIL_FROM=no-reply@azerothjs.com # Dirección de correo electrónico del remitente