{
  "singleQuote": true, // Utiliza comillas simples en lugar de comillas dobles.
  "trailingComma": "all", // Añade una coma al final de los objetos y arrays.
  "tabWidth": 2 // Establece el ancho de tabulación en 2 espacios.
}
